* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  transition: 0.5s ease;
  background: #ffb303;
}

header input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  margin-left: 30px;
}

header .brand {
  color: #000000;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
headder .navigation {
  position: relative;
}

.navigation-items {
  display: flex;
  align-items: center;
}

.navigation-items a {
  color: #000000;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
  white-space: nowrap;
}

.navigation-items a:hover {
  opacity: 0.8;
  cursor: pointer;
}

section {
  padding: 100px 200px;
}
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #575757;
}
.home .content {
  z-index: 888;
  color: #03fcf4;
  width: 70%;
  margin-top: 50px;
}
.home .content h3 {
  font-size: 2.5em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
}
.home .content p {
  font-size: 1.2em;
  margin-bottom: 50px;
}
.home .content button {
  background: white;
  padding: 10px 25px;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
  color: #575757;
  z-index: 1;
  border: 5px solid white;
}
.home .content button:hover {
  transition: 0.3s ease;
  background: white;
  color: #575757;
}
.home video {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer {
  background-color: #ffb303;
  text-align: center;
}
@media (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }
  section {
    padding: 100px 20px;
  }
}
